.footer-area {
    color: white;
    // font-size: 1.6rem;
    margin: 40px 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    li {
        margin: 0 10px;
    }
  }