.header-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  align-items: center;
  @media screen and (max-width: 768px) {
    margin: 20px;
  }
}

.site-title {
  font-size: 3.2rem;
  font-family: Noto Serif JP;
  color: #a93939;
  @media screen and (max-width: 768px) {
    font-size: 2.2rem;
  }
}

.nav {
  padding: 20px 10px;
  ul {
    display: flex;
    font-size: 2rem;
    li {
      color: rgb(251, 251, 251);
      &:not(:last-child) {
        padding-right: 28px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  /* ハンバーガーボタン */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 200;
    position: relative;
  }
  .hamburger-line {
    width: 100%;
    height: 3px;
    background-color: rgb(232, 227, 227);
    transition: all 0.3s ease;
  }
  /* === オーバーレイナビ === */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 100;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    cursor: pointer;
    ul {
      flex-direction: column;
      cursor: pointer;
    }
    li {
      padding: 16px;
    }
  }

  /* 表示されたとき用のクラス */
  .nav-active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    // pointer-events: auto;
  }
  /* ナビ中身 */
  .nav-overlay {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100%;
  }
  .nav-list {
    margin-top: 80px;
  }
  .nav-item {
    // 段階的にメニューをふわっと表示させるための設定
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  // 段階的にメニューをふわっと表示（ハンバーガーメニュー項目を開く設定）
  .nav-active .nav-item {
    opacity: 1;
    transform: translateY(0px);
    &:nth-child(1) {
      transition-delay: 0.1s;
    }
    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.3s;
    }
    &:nth-child(4) {
      transition-delay: 0.4s;
    }
  }

  // 段階的にメニューをふわっと表示（ハンバーガーメニュー項目を閉じる設定）
  .nav-closing .nav-item {
    opacity: 0;
    transform: translateY(-20px);
    &:nth-child(1) {
      transition-delay: 0.4s;
    }
    &:nth-child(2) {
      transition-delay: 0.3s;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
    }
    &:nth-child(4) {
      transition-delay: 0.1s;
    }
  }
  
  /* ========== 開いた時、✖️に変形する ========== */
  .hamburger.is-active .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .hamburger.is-active .hamburger-line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.is-active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}
